# tools generated
/binutils*
/grub*
/install

# configure generated
config.ninja
target

# build generated
*.iso
*.bin
*.o
.ninja_deps
.ninja_log
isofiles

# text editor
*.swp
*~

# OS-generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
